{% extends "MopaBootstrapBundle::base.html.twig" %}
{% block title %}News Feed Api{% endblock title %}
{% block headline %}News Feed{% endblock headline %}
{% block footer %}
    <p>&copy; <a href="http://www.github.com/decebal" target="_blank">Decebal</a> 2015</p>
{% endblock footer %}