<figure class="uk-panel uk-width-medium-1-4">
    <img src="{{ article.imagePath }}" class="uk-border-rounded uk-align-medium-left uk-thumbnail">
    <figcaption class="uk-thumbnail-caption">
        <div class="uk-panel-title">{{ article.title }}</div>
        <div class="uk-panel-text">{{ article.description|striptags('<code><p>') }}</div>
        <a class="uk-button-link" href="{{ article.link }}">View original article</a>
    </figcaption>
</figure>
