<div class="col-lg-8">
    <div class="well">
        <div class="col-sm-6">
            <img src="{{ article.imagePath }}" class="img-responsive">
        </div>
        <div class="col-sm-6">
            <h2>{% block headline %}{{ article.title }}{% endblock %}</h2>
            <div>{{ article.description|raw }}</div>
            <a href="{{ article.link }}">View original article</a>
        </div>
    </div>
</div>